@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');

body {
    background-color: #fff;
    color: #000;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    margin: 0;
}

div {
    box-sizing: border-box;
}

.bg-image {
    position: fixed;
    width: 100%;
    height: 50vh;
    background-image: url("assets/bartek.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
    top: 50vh;
    padding: 20px;
    background-color: #fff;
}

@media (min-width: 800px) {
    .bg-image {
        width: 50%;
        height: 100%;
    }

    .content {
        top: 0;
        margin-left: 50%;
    }
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
}

h1 {
    font-size: 1.5em;
    font-weight: 200;
}

h2 {
    font-size: 2.4em;
    font-weight: 200;
}

h5 {
    opacity: 0.6;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

img.icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: auto;
    margin-right: 10px;
    filter: invert();
}

a:hover, span#email:hover {
    cursor: pointer;
    color: #239adf;
    border-bottom: 1px dotted #239adf;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    
    .content {
        background-color: #000;
    }

    img.icon {
        filter: none;
    }
} 