<div id="about">

</div>

<div id="main">
    <section id="header">
        <div class="top"></div>

        <h2 class="header">
            <p>Hello, my name is <b>Bartek Drozdz</b>.</p>

            <p>I create <b>interactive experiences</b>.</p>

            <p>I live in sunny LA and work for nice people at <a href="http://toolofna.com">Tool</a>.</p>
        </h2>

        <div class="block" id="about-btn">+</div>
    </section>


    <section id="projects">
        <h3 class="sub-header">Work</h3>

        <ul class="projects">
            {foreach from=$data->projects item=project}
            <li class="box" data-url="{$project->url}">
                <h4>{$project->name}</h4>
                <div>
                    <img src="{$project->imageLarge}">
                </div>
                <div></div>
            </li>
            {/foreach}
        </ul>
    </section>

    <section id="play">
        <h3 class="sub-header">Play</h3>

        <ul class="play">
            {foreach from=$data->play item=play}
            <li class="box" data-url="{$play->url}">
                <h4>{$play->name}</h4>
                <div>
                    <img src="{$play->imageLarge}">
                </div>
                <div></div>
            </li>
            {/foreach}
        </ul>
    </section>

    <div class="mask-pattern"></div>
</div>