<!DOCTYPE html>
<html>
<head>
    <title>Bartek Drozdz | Portfolio and experiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <base href="/">

    {{#if config.javascriptEnabled}}
    <noscript>
        <meta http-equiv="refresh" content="0;url=/noscript">
    </noscript>
    {{else}}
    <!-- no JS :( -->
    {{/if}}

</head>
<body>

<div id="about">
    <section>
        <div>
            <a href="#/"><div class="close"></div></a>
            <h2>About</h2>

            <h4>I'm a developer with 12 years of experience in coding and designing interactive content.</h4>

            <p>I worked in Europe and US for several large and small interactive agencies, including F-i and North Kingdom. Currently I work at Tool in Santa Monica as Director of Technology.</p>

            <p>I like to spend his time experimenting with web technology and everything around it. Occasionaly I speak at conferences and other events.</p>

            <h3>Conferences</h3>

            <ul>
                {{#each data.conferences}}
                <li><b>{{name}}</b><i>{{location}}, {{date}}</i></li>{{/each}}
            </ul> 

            <h3>Publications</h3>

            <ul>
                {{#each data.publications}}
                <li><b>{{title}}</b><i>{{name}}</i></li>{{/each}}
            </ul>
        </div>
    </section>
</div>

<div id="content">
    <section>
        <img src="assets/close-white.png" class="close">
        <div class="hero"></div>
        <div class="content"></div>
        <h2></h2>
    </section>
</div>

<div id="main">
    <section id="header">
        <div></div>
        <h2>
            <p>Hello, my name is <a id="about-btn" class="about-link" href="#/about">Bartek</a>.</p>
            <p>I create interactive experiences.</p>
            <p>I live in sunny LA and work for nice people at <a href='http://toolofna.com' target='_blank'>Tool</a>.</p>
        </h2>
    </section>


    <section id="projects">
        <!-- <h3>Work</h3> -->

        <ul class="projects">
            {{#each data.projects}}
            {{#if ../config.javascriptEnabled}}
            <li class="box" data-id="{{id}}">
                <a href="#/project/{{id}}">
                <div>
                    <canvas data-image-large="assets/content/675sq/{{id}}.jpg" data-image-small="assets/content/320sq/{{id}}.jpg" data-tint="{{tint}}"></canvas>
                    <div class="mask"></div>
                </div>
                <div></div>
                <h4>{{name}}</h4>
                </a>
            </li>
            {{else}}
            <li class="box">
                <a href="project/{{id}}">
                    <h4>{{name}}</h4>
                    <div>
                        <img src="assets/content/675sq/{{id}}.jpg">
                    </div>
                    <div></div>
                </a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>

    <section id="play">
        <!-- <h3 class="sub-header">Play</h3> -->

        <ul class="play">
            {{#each data.play}}
            {{#if ../config.javascriptEnabled}}
            <li class="box" data-id="{{id}}">
                <a href="#/project/{{id}}">
                <div>
                    <canvas data-image-large="assets/play/{{id}}.jpg" data-image-small="assets/play/{{id}}.jpg" data-tint="{{tint}}"></canvas>
                    <div class="mask"></div>
                </div>
                <div></div>
                <h4>{{name}}</h4>
                </a>
            </li>
            {{else}}
            <li class="box">
                <a href="project/{{id}}">
                    <h4>{{name}}</h4>
                    <div>
                        <img src="assets/play/{{id}}.jpg">
                    </div>
                    <div></div>
                </a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>

    <section id="footer">
        <ul>
            <li>Copyright &copy; 2013 Bartek Drozdz</li>
            <li><a class="about-link" href="#/about">About</a></li>
            <li><a href="">Contact me</a></li>
            <li><a href="http://twitter.com/bartekd/">Twitter</a></li>
            <li><a href="http://codepen.io/bartekd/">Codepen</a></li>
            <li><a href="">Pinterest</a></li>
            <li><a href="">LinkedIn</a></li>
        </ul>
    </section>
</div>

{{#if config.javascriptEnabled}}
    {{#if config.dev}}
        {{#each imports.scripts}}
        <script type="text/javascript" src="{{this}}"></script>{{/each}}
    {{else}}
    <script type="text/javascript" src="{{imports.compressed}}"></script>
    {{/if}}
{{else}}
    <!-- No JS :( -->
{{/if}}

</body>
</html>