<!--[if gte IE 9]><!DOCTYPE html><![endif]-->
<!--[if !IE]> --><!DOCTYPE html><!-- <![endif]-->


{{#if config.javascriptEnabled}}
<html>
{{else}}
<html class="no-js">
{{/if}}

<head>
    <title>Bartek Drozdz | Portfolio and experiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no, minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="bXZCFKtYTuYla3Gb9Z-_XavNi_s-VZrDyqMyW2uTCaY" />

    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <base href="/">

    {{#if config.javascriptEnabled}}
    <script type="text/javascript">
        var rawData = {{{dataJson}}};
    </script>

    <noscript>
        <meta http-equiv="Refresh" content="0;URL={{config.path}}?ns" />
    </noscript>
    {{else}}
    {{/if}}

</head>
<body class="main-page">

{{#if config.javascriptEnabled}}
<section id="content">
    <div class="hero"></div>
    <div class="content">
    </div>
    <a href="/"><div class="close"></div></a>
</section>
{{/if}}

<section id="main">
    
    <h2 class="header">
        <p>Hello!</p>
        {{#if config.javascriptEnabled}}
        <p>My name is Bartek.</p>
        {{else}}
        <p>My name is Bartek.</p>
        {{/if}}
        <p>I like to build things.</p>
        <p>
            <a href="/about">About</a>
            <a href="/" id="projects-shortcut">Work</a>
            <a href="/blog" data-hj="no">Blog</a>
        </p>
    </h2>

    <section id="projects">
        <ul class="projects">
            {{#each data.projects}}
            <li class="box" data-id="{{id}}" data-type="project">
                <a href="/project/{{id}}{{../config.jsq}}">
                <div class="container">
                    {{#if ../config.javascriptEnabled}}
                    <img>
                    <div class="mask"></div>
                    {{else}}
                    <img src="{{../../config.cdn}}assets/content/675sq/{{id}}.jpg">
                    {{/if}}
                    <h4>{{name}}</h4>
                </div>
                <div class="spacer"></div>
                </a>
            </li>
            {{/each}}
        </ul>
    </section>

</section>

<section id="about">
    <div>
        {{#if config.javascriptEnabled}}
        <a href="/" class="close"></a>
        {{/if}}

        <h4>I am an experienced Web Designer/Developer living in Los Angeles, California.</h4>

        <p>For the last 12 years, I've been working in the field of interactive development in both Europe and the US. I have colaborated with renowned interactive agencies such as 
            <a href="http://f-i.com" target="_blank">F-i</a>, 
            <a href="http://www.b-reel.com/" target="_blank">B-Reel</a> and
            <a href="http://northkingdom.com" target="_blank">North Kingdom</a>.</p> 
        
        <p>Currently I work as Creative Director at <a href="http://toolofna.com" target="_blank">Tool of North America</a> where I create high quality websites, interactive experiences and games in technologies ranging from HTML/CSS to WebGL, Unity3D, OpenFrameworks and even things like Raspberry PI (sometimes).</p>

        <p>In my free time, I like to experiment and learn everything from new technologies and APIs all the way to layout and responsive design.</p>

        <p>The projects I contributed to have been widely recognized in the industry and received multiple awards, including: 

        <ul class="awards">
            <li><span class="aw-num">1</span> Emmy</li>
            <li><span class="aw-num">1</span> FWA PCA</li>
            <li><span class="aw-num">14</span> Cannes Lions</li>
            <li><span class="aw-num">3</span> FWA Site of the Month</li>
            <li><span class="aw-num">3</span> Awwwards Site of the Month</li>
            <li><span class="aw-num">16</span> FWA SOTD/Mobile</li>
        </ul>

        <p>Occasionaly, I speak at conferences and other events as well as conduct workshops.</p>

        <h3>Get in touch</h3>

        <ul>
            <li>Email: <a href='mailto:bartek@everyday3d.com'>bartek@everyday3d.com</a></li>
            <li>Twitter: <a href='https://twitter.com/bartekd'>@bartek</a></li>
        </ul>

        <h3>Conferences</h3>

        <ul>
            {{#each data.conferences}}
            {{#if url}}
            <li><a href="{{url}}" target="_blank">{{name}}</a><i>{{location}}, {{date}}</i></li>
            {{else}}
            <li><b>{{name}}</b><i>{{location}}, {{date}}</i></li>
            {{/if}}
            {{/each}}
        </ul> 

        <h3>Publications</h3>

        <ul>
            {{#each data.publications}}
            {{#if url}}
            <li><a href="{{url}}" target="_blank">{{title}}</a><i>{{name}}</i></li>
            {{else}}
            <li><b>{{title}}</b><i>{{name}}</i></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</section>

<div class="fps" id="fps">0.0</fps>

{{#if config.javascriptEnabled}}
    {{#if config.dev}}
        {{#each imports.scripts}}
        <script type="text/javascript" src="{{this}}"></script>{{/each}}
    {{else}}
    <script type="text/javascript" src="{{imports.compressed}}"></script>
    {{/if}}
{{/if}}

{{#if config.dev}}
<script type="text/javascript">
    if(location.host.indexOf("localhost") > -1 || location.host.indexOf("192.168") > -1) {
        document.write('<script src=\"http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1\"></' + 'script>');
    }
</script>
{{/if}}

<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46599235-1', 'bartekdrozdz.com');
    ga('send', 'pageview');
</script>

</body>
</html>