<!DOCTYPE html>
<html class="no-js">

<head>
    <title>Bartek Drozdz | Portfolio and experiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <base href="/">

    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="content">
    <section>
        <div class="hero"><img src="{{config.cdn}}assets/content/1920w-235as/{{item.id}}.jpg"></div>
        <div class="content"><h1>{{item.name}}</h1>{{{content}}}</div>
        <a href="/{{config.jsq}}"><div class="close"></div></a>
    </section>
</div>

{{!--
<script type="text/javascript">
    if(location.host.indexOf("localhost") > -1 || location.host.indexOf("192.168") > -1) {
        document.write('<script src=\"http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1\"></' + 'script>');
    }
</script>
--}}

</body>
</html>