<!DOCTYPE html>
<html>
<head>
    <title>Bartek Drozdz | Portfolio and experiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <base href="/">

    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="content">
    <section>
        <div class="close"><img src="assets/svg/close.svg"></div>
        <img src="/assets/content/1920w-235as/{{item.id}}.jpg">
        <div class="content">
                {{{content}}}
        </div>
        <h2>{{item.name}}</h2>
    </section>
</div>

</body>
</html>