@darkred: #9b2222;

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #222222;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#main {
	position: relative;
	background-color: #ffffff;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
	-moz-transition: transform 0.3s ease, filter 0.3s ease;
}

section {
	clear: both;
}

a {
	color: inherit;
	text-decoration: none;
}

// HEADER // // // // // // // //

.top {
	background-color: #000000;
	width: 110px;
	height: 40px;
	margin-left: 10px;
}

.block {
	background-color: #000000;
	width: 110px;
	margin-left: 10px;
	color: #ffffff;
	padding: 5px 5px 8px 5px;
	font-weight: bold;
	font-size: 0.8em;

	&:hover {
		background-color: @darkred;
		cursor: pointer;
	}
}




h2.header {
	font-size: 2.2em;
	line-height: 1.0em;
	letter-spacing: -0.05em;
	font-weight: 600;
	margin: 0;
	padding: 20px 10px 24px 10px;

	p {
		margin: 0 0 0 0;
		line-height: 1.2em;
		display: inline;
	}

	b, a {
		color: @darkred;
	}
}

h3.sub-header {
	margin-top: 40px;
	font-weight: bold;
	padding: 20px 10px 0 10px;
}

.close {
	position: absolute;
	width: 32px; 
	height: 32px;

	&:hover {
		cursor: pointer;
	}
}

// CONTENT + ABOUT + WORK/PLAY // // // // // // // //

@import "content";
@import "about";
@import "workplay";
