#main {

	.js & {
		overflow: hidden;
	}
	
	width: 100%;
	background-color: @mainbg;

	a {
		color: inherit;
		text-decoration: none;
	}

	h2.header {
		margin: 190px 0 190px 0;

		text-align: center;
		color: lighten(black, 0%);

		.typo-main-header();
		

		p {
			margin: 0;
			line-height: 1;
		}

		p:nth-of-type(1) {
			font-size: 1.1em;
			font-weight: 100;
			letter-spacing: -0.05em;
		}

		p:nth-of-type(2) {
			font-size: 0.7em;
			word-spacing: -0.1em;
			letter-spacing: -0.025em;
			font-weight: 400;
			font-family: @fjord;
			margin: 20px 0 0.25em 0;
		}

		p:nth-of-type(3) {
			font-size: 0.7em;
			word-spacing: -0.1em;
			letter-spacing: -0.025em;
			font-weight: 400;
			font-family: @fjord;
			margin: 0.25em 0 20px 0;
		}

		p:nth-of-type(4) {
			font-size: 0.45em;
			font-family: @droid;
		}

		a {
			display: inline-block;
			@am: 0.2em;
			margin: 0.5em @am 0 @am;
			color: black;
			background-color: white;
			padding: 0.5em 0.5em 0.5em 0.5em;
			width: 6em;
			text-transform: lowercase;
			border: 1px solid transparent;

			.transition(~"border-bottom .3s ease");
			.transition(~"color .1s ease");

			&:before {
				// content: "/";
			}

			&:hover {
				border-bottom: 1px solid #000;
				// background-color: black;
				// color: white;
			}

			.no-touch &:hover {
			}

			&:nth-of-type(2) {
				// border-left: 2px solid black;
			}
		}

		@media screen and (min-width: 600px) {

			margin: 270px 0 270px 0;

			p:nth-of-type(1) {
				font-size: 0.8em;
			}

			p:nth-of-type(2), p:nth-of-type(3) {
				font-size: 0.6em;
			}

			p:nth-of-type(4) {
				font-size: 0.35em;

			}

			a {
				@am: 0.33em;
				margin: 0 @am 0 @am;
			}
		}

		@media screen and (min-width: 1100px) {
			
		}

		@media screen and (min-width: 1460px) {
			
		}
	}

	.blog {
		display: none;
		position: absolute;
		width: 100%;
		background-color: #000000;
	}
}