@import "lesshat";

@darkred: #840003;
@mainbg: #fff;
@darkgrey: #222;
@grey: #999;

html, body {
	color: #000000;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: @darkgrey; 
	font-size: 16px;
}

@media (orientation:landscape) {
    html.ipad7 body {
        position: fixed;
        bottom: 0;
        width:100%;
        height: 672px !important;
    }
}

html.js body.main-page {
	overflow: hidden;
}

html.no-js body.main-page {
	overflow: visible;
}

h1, h2, h3, h4, h5, h6, b, p {
	font-weight: 100;
}

* {
	.box-sizing(border-box);
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.fps {
	display: none;
	position: fixed;
	top: 0; left: 0;
	z-index: 10000;
	background-color: black;
	color: white;
	padding: 5px;
	font-family: Courier, monospace;

	b {
		color: red;
	}
}

@import "typography";
@import "main";
@import "content";
@import "about";
@import "workplay";
@import "blog";

