@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Fjord+One);

@league: 'League Gothic';
@oswald: Oswald;
@georgia: Georgia, sans-serif;
@fjord: 'Fjord One';

.typo-main-header {
	font-family: @oswald;
	font-size: 2em;

	@media screen and (min-width: 600px) {
		font-size: 3em;
	}

	@media screen and (min-width: 1460px) {
		font-size: 4em;
	}
}