.oversize {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section#projects {
	padding: 0px 2px 0 2px;
	background-color: #fff;

	ul.projects {
		list-style-type: none;
		margin: 0;
		padding: 0;

		// .touch & {
		// 	clear: both;
		// 	overflow: auto;
		// }

		.title-box {

			.container {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: lighten(#000, 90%);
			    text-align: left;

			    h1 {
					position: absolute;
					font-family: @titleFont;
					color: black;
					text-transform: uppercase;
					bottom: 0%;
					right: 0%;
					margin: 0 15px 5px 15px;
					font-size: 2.2em;
					font-weight: 100;
				}

				.fwd-b {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background-color: lighten(#000, 80%);
				}
			}

			.spacer {
				margin-top: 100%;
			}
		}

		li {
			float: left;
			margin: 0;
			border: 2px solid transparent;
			position: relative;
			width: 50%;

			h4 {
				position: absolute;
				font-family: @titleFont;
				text-transform: uppercase;
				font-size: 0.9em;
				line-height: 1.0em;
				color: white;
				margin: 0 0 5px 5px;
				padding: 2px;
				bottom: 0;
				left: 0;
				font-weight: 400;
			}

			.container {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    overflow: hidden;

			    img {
			    	position: absolute;
			    	.oversize();
			    	border: 0;
				}

				.mask, .hover {
					position: absolute;
					.oversize();
					background-color: rgba(0, 0, 0, 1);
				}

				.hover {
					.transform(~"translateY(150%) translateX(-15%) scaleX(2)");
				}

				h4 {
				}
			}

			.hovered-transition {
				.hover {
					.transition(~"transform 0.8s ease-out");
				}

				img {
					.transition(~"transform 0.2s ease-out");
				}

				h4 {
					.transition(~"transform 0.2s ease-out");
				}
			}

			.hovered-container:hover {
				.hover {
					.transition(~"transform 0.1s ease-out");
					.transform(~"translateY(80%) scaleX(2)");
				}

				img {
					.transform(~"translateY(-3%)");
				}

				h4 {
					.transform(~"translateY(-40%)");
				}
			}

			.spacer {
				margin-top: 100%;
			}
		}
	}

	@media screen and (min-width: 500px) {
		ul.projects {
			li {
				h4 {
					font-size: 0.9em;
				}
			}
		}
	}

	@media screen and (min-width: 600px) {
		padding: 0px 4px 0 4px;

		ul.projects {
			li {
				h4 {
					font-size: 1.2em;
					padding: 5px;
					margin: 0px 0px 10px 10px;
					font-weight: 100;
				}
			}
		}
	}

	@media screen and (min-width: 800px) {
		padding: 0px 4px 0 4px;

		ul.projects {
			li {
				width: 33.33%;
			}
		}
	}

	@media screen and (min-width: 1200px) {
		ul.projects {
			li {
				width: 25%;
				h4 {
					font-size: 1.2em;
				}
			}
		}
	}

	@media screen and (min-width: 1600px) {
		ul.projects {
			li {
				width: 20%;
				h4 {
					font-size: 1.4em;
				}
			}
		}
	}
}