.oversize {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section#projects {
	padding: 0px 2px 0 2px;
	background-color: #fff;

	ul.projects {
		list-style-type: none;
		margin: 0 0 10px 0;
		padding: 0;

		.title-box {

			.container {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: #000;
			    text-align: center;

			    h1 {
					position: absolute;
					top: 50%;
					left: 0%;
					width: 100%;
					color: #fff;
					margin: -16px 0 0 0;
					font-size: 1.8em;
				}
			}

			.spacer {
				margin-top: 100%;
			}
		}

		li {
			float: left;
			margin: 0;
			border: 2px solid transparent;
			position: relative;
			width: 50%;

			h4 {
				position: absolute;
				font-size: 1.0em;
				color: #ffffff;
				margin: 0px 0px 10px 10px;
				padding: 5px;
				line-height: 0.8em;
				bottom: 0;
				left: 0;
			}

			.container {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    overflow: hidden;

			    img {
			    	position: absolute;
			    	.oversize();
				}

				.mask, .hover {
					position: absolute;
					.oversize();
					background-color: rgba(0, 0, 0, 1);
				}

				.hover {
					.transform(~"translateY(150%) translateX(-15%) rotateZ(45deg) scaleX(2)");
					.transition(~"transform 0.2s ease-out");
				}

				h4 {
					border-bottom: 2px solid rgba(255, 255, 255, 0); // transparent;
					.transition(~"border 0.2s ease-out");
				}
			}

			.hovered-container:hover {
				.hover {
					.transform(~"translateY(80%) rotateZ(5deg) scaleX(2)");
				}

				h4 {
					border-bottom: 2px solid rgba(255, 255, 255, 0.8);
				}
			}

			.spacer {
				margin-top: 100%;
			}
		}
	}

	@media screen and (min-width: 800px) {
		padding: 0px 4px 0 4px;

		ul.projects {
			li {
				width: 33.33%;
				h4 {
					font-size: 1.2em;
				}
			}
		}
	}

	@media screen and (min-width: 1200px) {
		ul.projects {
			li {
				width: 25%;
				h4 {
					font-size: 1.3em;
				}
			}
		}
	}

	@media screen and (min-width: 1600px) {
		ul.projects {
			li {
				width: 20%;
				h4 {
					font-size: 1.6em;
				}
			}
		}
	}
}