section#projects {

	ul.projects {
		list-style-type: none;
		margin: 0 0px 0 0px;
		padding: 0;
		overflow: auto;

		li {
			float: left;
			margin: 0;
			// border: 4px solid #ffffff;
			position: relative;
			width: 50%;
			overflow: hidden;

			h4 {
				position: absolute;
				font-size: 1.0em;
				color: #ffffff;
				margin: 0px;
				padding: 5px;
				background-color: rgba(0, 0, 0, 0.75);
				line-height: 1.0em;
				top: 0;
				left: 0;
			}

			div:nth-of-type(1) {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: #dddddd;

			    img {
			    	position: absolute;
			    	top: 0;
			    	left: 0;
					width: 100%;
					height: 100%;
				}

				div {
					position: absolute;
					top: 0;
			    	left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 1);

					.no-touch & {
						.transition(~"background-color 1.5s ease");
					}
				}
			}

			div:nth-of-type(2) {
				margin-top: 100%;
			}
		}
	}

	@media screen and (min-width: 600px) {
		ul.projects {
			li {
				width: 50%;
				h4 {
					font-size: 1.2em;
				}
			}
		}
	}

	@media screen and (min-width: 1100px) {
		ul.projects {
			li {
				width: 33.33%;
				h4 {
					padding: 10px;
					font-size: 1.4em;
				}
			}
		}
	}

	@media screen and (min-width: 1460px) {
		ul.projects {
			li {
				width: 25%;
				h4 {
					font-size: 1.6em;
				}
			}
		}
	}

	@media screen and (min-width: 1800px) {
		ul.projects {
			li {
				width: 20%;
				h4 {
					font-size: 1.6em;
				}
			}
		}
	}
}

section#play {

	ul.play {
		list-style-type: none;
		margin: 0 0px 0 0px;
		padding: 0 0 0 0;
		overflow: auto;

		li {
			float: left;
			margin: 0;
			// border: 4px solid #ffffff;
			position: relative;
			width: 50%;

			h4 {
				position: absolute;
				font-size: 1.0em;
				color: #ffffff;
				margin: 0;
				padding: 5px;
				background-color: rgba(0, 0, 0, 0.75);
				line-height: 1.0em;
				top: 0;
				left: 0;
			}

			div:nth-of-type(1) {
				position: absolute;
				top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: #dddddd;

			    img {
			    	position: absolute;
			    	top: 0;
			    	left: 0;
					width: 100%;
					height: 100%;
				}

				div {
					position: absolute;
					top: 0;
			    	left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 1);

					.no-touch & {
						.transition(~"background-color 1.5s ease");
					}
				}
			}

			div:nth-of-type(2) {
				margin-top: 100%;
			}
		}
	}

	@media screen and (min-width: 600px) {
		ul.play {
			li {
				width: 33.33%;
			}
		}
	}

	@media screen and (min-width: 1100px) {
		ul.play {
			li {
				width: 25%;
			}
		}
	}

	@media screen and (min-width: 1460px) {
		ul.play {
			li {
				width: 20%;
			}
		}
	}

	@media screen and (min-width: 1800px) {
		ul.play {
			li {
				width: 16.66%;
			}
		}
	}

}