@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222222;
  font-size: 16px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
#main.animated {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
}
#main a {
  color: inherit;
  text-decoration: none;
}
#main section#header {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
#main section#header > div:nth-of-type(1) {
  position: relative;
  background-color: #000000;
  width: 50%;
  max-width: 140px;
  height: 40px;
}
#main section#header > div:nth-of-type(1):after {
  content: '';
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}
#main section#header h2 {
  font-size: 2.1em;
  letter-spacing: -0.05em;
  font-weight: 600;
  margin: 0 0 0 0;
  padding: 20px 30px 0px 10px;
}
#main section#header h2 p {
  margin: 0 0 0 0;
  line-height: 1.2em;
  display: inline;
}
#main section#header h2 a {
  position: relative;
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #9b2222;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#main section#header h2 a:before {
  position: absolute;
  z-index: -1000;
  content: '';
  display: block;
  background-color: #9b2222;
  width: 106%;
  margin-left: -3%;
  height: 4px;
  margin-top: 40px;
  -webkit-transition: height 0.1s ease, margin-top 0.1s ease;
  -moz-transition: height 0.1s ease, margin-top 0.1s ease;
  -o-transition: height 0.1s ease, margin-top 0.1s ease;
  -ms-transition: height 0.1s ease, margin-top 0.1s ease;
  transition: height 0.1s ease, margin-top 0.1s ease;
}
.no-touch #main section#header h2 a:hover {
  color: #fff;
  cursor: pointer;
}
.no-touch #main section#header h2 a:hover:before {
  height: 38px;
  margin-top: 2px;
}
.touch #main section#header h2 a:active {
  color: #fff;
  cursor: pointer;
}
.touch #main section#header h2 a:active:before {
  height: 38px;
  margin-top: 2px;
}
@media screen and (min-width: 600px) {
  #main section#header h2 {
    font-size: 2.4em;
  }
  #main section#header h2 a:before {
    margin-top: 44px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 42px;
    margin-top: 2px;
  }
  .touch #main section#header h2 a:active:before {
    height: 42px;
    margin-top: 2px;
  }
}
@media screen and (min-width: 1100px) {
  #main section#header h2 {
    font-size: 2.9em;
  }
  #main section#header h2 p {
    display: block;
  }
  #main section#header h2 a:before {
    height: 5px;
    margin-top: 52px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 48px;
    margin-top: 4px;
  }
  .touch #main section#header h2 a:active:before {
    height: 48px;
    margin-top: 4px;
  }
}
@media screen and (min-width: 1460px) {
  #main section#header h2 {
    font-size: 3.9em;
  }
  #main section#header h2 a:before {
    height: 7px;
    margin-top: 68px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 64px;
    margin-top: 4px;
  }
  .touch #main section#header h2 a:active:before {
    height: 64px;
    margin-top: 4px;
  }
}
@media screen and (min-width: 1800px) {
  #main section#header h2 {
    font-size: 5.2em;
  }
  #main section#header h2 a:before {
    height: 8px;
    margin-top: 90px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 84px;
    margin-top: 6px;
  }
  .touch #main section#header h2 a:active:before {
    height: 84px;
    margin-top: 6px;
  }
}
#main section#footer {
  margin-top: 2px;
  width: 100%;
  background-color: #222222;
  color: #777;
  font-size: 0.8em;
  overflow: auto;
  padding: 10px 0 10px 0;
}
#main section#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main section#footer ul li {
  float: left;
  padding: 10px 0px 10px 0;
  text-align: center;
}
#main section#footer ul li a:hover,
#main section#footer ul li span:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}
#main section#footer ul li:nth-child(-n+2) {
  width: 50%;
}
#main section#footer ul li:nth-child(n+3):nth-child(-n+6) {
  width: 25%;
}
#main section#footer ul li:nth-child(7) {
  width: 100%;
}
@media screen and (min-width: 800px) {
  #main section#footer ul {
    margin: 0 15% 0 15%;
  }
  #main section#footer ul li {
    font-size: 0.9em;
    font-weight: bold;
  }
  #main section#footer ul li:not(:last-child):before {
    content: '\2219';
    margin-right: 10px;
  }
  #main section#footer ul li:not(:last-child):after {
    content: '\2219';
    margin-left: 10px;
  }
  #main section#footer ul li:nth-child(-n+2),
  #main section#footer ul li:nth-child(n+3):nth-child(-n+6) {
    width: 16.66%;
  }
}
section#projects h3,
section#play h3 {
  margin-top: 20px;
  font-weight: bold;
  padding: 20px 10px 0 13px;
}
@media screen and (min-width: 600px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1100px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1460px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1800px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.8em;
  }
}
#content {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
}
#content * {
  pointer-events: auto;
}
#content .close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 34px;
  height: 34px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
#content .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#content h2 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.6em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px;
  margin: 16px 0 0 16px;
}
#content .hero iframe {
  width: 100%;
  background-color: #000;
  poiter-events: none;
}
#content .hero img {
  position: relative;
  top: 0;
  left: 0;
}
#content .hero div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  -webkit-transition: background-color 1.5s ease;
  -moz-transition: background-color 1.5s ease;
  -o-transition: background-color 1.5s ease;
  -ms-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}
@media screen and (max-width: 600px) {
  #content .close {
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
  }
  #content h2 {
    padding: 4px;
    margin: 4px 0 0 4px;
    font-size: 1.0em;
  }
}
#content .content {
  position: relative;
  top: 0;
  background-color: #222222;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #aaaaaa;
  font-size: 1.0em;
  line-height: 1.7em;
  letter-spacing: 0;
  padding: 2em 0 2em 0;
  margin: 0;
}
#content .content .text {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0 0 1em -400px;
  padding: 0;
}
#content .content .text .warning {
  background-color: #7c0000;
  color: white;
  font-size: 0.9em;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
}
.webgl #content .content .text .webgl {
  display: none;
}
.canvas #content .content .text .canvas {
  display: none;
}
.webrct #content .content .text .webrct {
  display: none;
}
#content .content .text h4 {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.08em;
}
#content .content .text h5 {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.08em;
  margin: 4px 0 4px 0;
}
#content .content .text h6 {
  font-weight: 400;
  font-size: 0.75em;
}
#content .content .text em {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
#content .content .text a {
  color: #ffffff;
  text-decoration: underline;
}
#content .content .text .video-link {
  margin: 0;
  padding: 0;
}
#content .content .text .video-link a {
  color: #808080;
  border: 0;
  font-size: 0.8em;
}
#content .content .text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content .content .text ul li {
  font-size: 0.8em;
  line-height: 1.6em;
}
#content .content .text ul i {
  color: #aaaaaa;
}
#content .content .text ul i:before {
  content: " - ";
}
#content .content .text .video {
  position: relative;
  height: 100px;
  padding-bottom: 56.25%;
  /* 16:9 */

}
#content .content .text .video iframe,
#content .content .text .video video,
#content .content .text .video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content .content .text .video .play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#content .content .text .video .play:after {
  display: block;
  content: '';
  background-image: url('../assets/play-black.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
  width: 128px;
  height: 128px;
  pointer-events: none;
}
#content .content .text .video .play:hover {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  #content .content {
    line-height: 1.5em;
    padding: 1em 0 0 0;
  }
  #content .content .text {
    width: 90%;
    margin: 0 0 1em -45%;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #content .content .text .video .play:after {
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
  }
}
#about {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  color: #808080;
  font-size: 1.0em;
  line-height: 1.5em;
}
#about section {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}
#about section > div {
  opacity: 0;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 20px 40px 30px 30px;
  color: #ffffff;
}
#about section > div.animated {
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#about h2 {
  margin: 0;
}
#about .close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
}
#about .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#about p {
  letter-spacing: -0.05em;
  color: #aaaaaa;
}
#about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#about ul li {
  font-size: 0.8em;
  line-height: 1.6em;
}
#about ul i {
  color: #aaaaaa;
}
#about ul i:before {
  content: " - ";
}
@media screen and (max-width: 600px) {
  #about section > div {
    padding: 20px 20px 20px 20px;
  }
  #about .close {
    width: 30px;
    height: 30px;
  }
}
.oversize {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-frame {
  position: absolute;
  overflow: hidden;
  background-color: #000000;
  padding: 0;
  margin-top: 0;
  border: 0;
}
.hover-frame.in-first {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hover-frame.in-second {
  -webkit-transition: all 0.15s ease-out 0.2s;
  -moz-transition: all 0.15s ease-out 0.2s;
  -o-transition: all 0.15s ease-out 0.2s;
  -ms-transition: all 0.15s ease-out 0.2s;
  transition: all 0.15s ease-out 0.2s;
}
.hover-frame.out-first {
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}
.hover-frame.out-second {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.hover-frame.left {
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
.hover-frame.top {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
.hover-frame.right {
  top: 0%;
  right: 0%;
  width: 10%;
  height: 100%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
.hover-frame.bottom {
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
section#projects {
  padding: 0px 2px 0 2px;
  margin-top: 30px;
  background-color: #fff;
}
section#projects ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
section#projects ul.projects .title-box div:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  text-align: center;
}
section#projects ul.projects .title-box div:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  color: #fff;
  margin: -16px 0 0 0;
  font-size: 1.8em;
}
section#projects ul.projects .title-box div:nth-child(2) {
  margin-top: 100%;
}
section#projects ul.projects li {
  float: left;
  margin: 0;
  border: 2px solid transparent;
  position: relative;
  width: 50%;
}
section#projects ul.projects li h4 {
  position: absolute;
  font-size: 1.0em;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  line-height: 1.0em;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
section#projects ul.projects li a > div:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section#projects ul.projects li a > div:nth-of-type(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(2);
  -moz-transform: translateZ(2);
  -o-transform: translateZ(2);
  -ms-transform: translateZ(2);
  transform: translateZ(2);
}
section#projects ul.projects li a > div:nth-of-type(1) .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transform: translateZ(1);
  -moz-transform: translateZ(1);
  -o-transform: translateZ(1);
  -ms-transform: translateZ(1);
  transform: translateZ(1);
}
.no-touch section#projects ul.projects li a > div:nth-of-type(1) .mask {
  -webkit-transition: background-color 1.5s ease;
  -moz-transition: background-color 1.5s ease;
  -o-transition: background-color 1.5s ease;
  -ms-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}
.touch section#projects ul.projects li a > div:nth-of-type(1) .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px;
  border-style: solid;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.touch section#projects ul.projects li a > div:nth-of-type(1) .frame:active {
  opacity: 1;
  -webkit-transition: opacity 0s ease;
  -moz-transition: opacity 0s ease;
  -o-transition: opacity 0s ease;
  -ms-transition: opacity 0s ease;
  transition: opacity 0s ease;
}
section#projects ul.projects li a > div:nth-of-type(2) {
  margin-top: 100%;
}
section#projects ul.projects li a > .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  section#projects {
    padding: 0px 4px 0 4px;
  }
  section#projects ul.projects .title-box div:nth-child(1) h1 {
    margin: -22px 0 0 0;
    font-size: 2.3em;
  }
  section#projects ul.projects li {
    width: 33.33%;
    border: 5px solid transparent;
  }
  section#projects ul.projects li h4 {
    padding: 10px;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  section#projects ul.projects .title-box div:nth-child(1) h1 {
    margin: -28px 0 0 0;
    font-size: 2.8em;
  }
  section#projects ul.projects li {
    width: 25%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1600px) {
  section#projects ul.projects li {
    width: 20%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.6em;
  }
}
