@import url(http://fonts.googleapis.com/css?family=Oswald:400);

@import url(http://fonts.googleapis.com/css?family=Fjord+One);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
html,
body {
  color: #000000;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222222;
  font-size: 16px;
}
@media (orientation: landscape) {
  html.ipad7 body {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 672px !important;
  }
}
html.js body {
  overflow: hidden;
}
html.no-js body {
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
p {
  font-weight: 100;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
}
.fps {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: Courier, monospace;
}
.fps b {
  color: red;
}
.typo-main-header {
  font-family: Oswald;
  font-size: 2em;
}
@media screen and (min-width: 600px) {
  .typo-main-header {
    font-size: 3em;
  }
}
@media screen and (min-width: 1460px) {
  .typo-main-header {
    font-size: 4em;
  }
}
.typo-title-box {
  font-family: Oswald;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  .typo-title-box {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 600px) {
  .typo-title-box {
    font-size: 3em;
  }
}
.typo-box {
  font-family: Oswald;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  .typo-box {
    font-size: 1em;
  }
}
@media screen and (min-width: 600px) {
  .typo-box {
    font-size: 1.5em;
  }
}
.typo-title {
  font-family: Oswald;
  font-size: 1.6em;
  line-height: 1em;
}
@media screen and (min-width: 600px) {
  .typo-title {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 600px) {
  .typo-title {
    font-size: 3.6em;
  }
}
.typo-launch {
  font-family: Oswald;
  font-size: 1.2em;
}
.typo-header {
  font-family: 'Droid Sans';
}
.typo-text {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
}
#main {
  width: 100%;
  background-color: #ffffff;
}
.js #main {
  overflow: hidden;
}
#main a {
  color: inherit;
  text-decoration: none;
}
#main h2.header {
  margin: 130px 0 130px 0;
  text-align: center;
  color: #000000;
  font-family: Oswald;
  font-size: 2em;
}
@media screen and (min-width: 600px) {
  #main h2.header {
    font-size: 3em;
  }
}
@media screen and (min-width: 1460px) {
  #main h2.header {
    font-size: 4em;
  }
}
#main h2.header p {
  margin: 0;
  line-height: 1;
}
#main h2.header p:nth-of-type(1) {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}
#main h2.header p:nth-of-type(2) {
  word-spacing: 0.05em;
  letter-spacing: -0.025em;
  font-family: 'Fjord One', sans-serif;
  margin: 0.5em 0 0.25em 0;
}
#main h2.header p:nth-of-type(3) {
  word-spacing: -0.05em;
  letter-spacing: -0.025em;
  font-family: 'Fjord One', sans-serif;
  margin: 0.25em 0 0.5em 0;
}
#main h2.header p:nth-of-type(4) {
  font-size: 0.45em;
  font-family: 'Fjord One', sans-serif;
}
#main h2.header a {
  display: inline-block;
  margin: 0.6em 1.4em 0 1.4em;
  color: white;
  background-color: black;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 6em;
  text-transform: lowercase;
}
#main h2.header a:before {
  content: "/";
}
@media screen and (min-width: 600px) {
  #main h2.header {
    margin: 200px 0 220px 0;
  }
  #main h2.header p:nth-of-type(1) {
    font-size: 3.05em;
  }
  #main h2.header p:nth-of-type(2),
  #main h2.header p:nth-of-type(3) {
    font-size: 0.9em;
  }
  #main h2.header p:nth-of-type(4) {
    font-size: 0.35em;
  }
}
@media screen and (min-width: 1100px) {
  
}
@media screen and (min-width: 1460px) {
  
}
#content {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
.js #content {
  overflow-y: hidden;
}
#content * {
  pointer-events: auto;
}
#content .close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 34px;
  height: 34px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.no-touch #content .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#content .hero {
  background-color: #000000;
}
.no-js #content .hero img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  #content .close {
    top: 8px;
    right: 8px;
  }
}
#content .content {
  background-color: #000000;
  width: 100%;
  color: #aaaaaa;
  padding: 2em 0 2em 0;
  margin: 0;
}
.js #content .content {
  position: absolute;
  top: 0;
}
#content .content h1 {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0.2em 0 0.2em -400px;
  font-family: Oswald;
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  #content .content h1 {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 600px) {
  #content .content h1 {
    font-size: 3.6em;
  }
}
#content .content .text {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0 0 1em -400px;
  padding: 0 0 40px 0;
}
@media screen and (min-width: 600px) {
  #content .content .text {
    padding: 0 0 20px 0;
  }
}
#content .content .text .warning {
  background-color: #7c0000;
  color: white;
  font-size: 0.9em;
  line-height: 1.45;
  padding: 8px 8px 10px 10px;
  border-radius: 4px;
  font-family: 'Droid Sans';
}
.webgl #content .content .text .webgl {
  display: none;
}
.canvas #content .content .text .canvas {
  display: none;
}
.webrtc #content .content .text .webrtc {
  display: none;
}
#content .content .text h4 {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  font-size: 1.3em;
  margin: 1em 0 1em 0;
}
#content .content .text h5 {
  font-family: 'Droid Sans';
  font-size: 1.2em;
  color: #aaa;
  margin: 1em 0 1em 0;
  font-style: normal;
}
#content .content .text p {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  line-height: 1.45em;
}
#content .content .text h6 {
  font-family: 'Droid Sans';
  font-size: 0.8em;
}
#content .content .text b {
  color: white;
}
#content .content .text ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.55;
}
#content .content .text ul li {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 600px) {
  
}
#content .content .text ul em {
  font-style: normal;
  display: block;
  color: white;
}
@media screen and (min-width: 600px) {
  #content .content .text ul em {
    display: inline;
  }
}
#content .content .text ul i {
  display: block;
  margin-bottom: 0.3em;
  color: #aaa;
}
#content .content .text a {
  color: inherit;
  text-decoration: underline;
}
.no-touch #content .content .text a:hover {
  color: #fff;
}
#content .content .text .launch {
  background-color: #840003;
  color: #ffffff;
  padding: 10px 14px 10px 14px;
  border-radius: 4px;
  display: inline-block;
  font-style: normal;
  font-family: Oswald;
  font-size: 1.2em;
  margin: 1em 0 1em 0;
  -webkit-transition: all 0.05s ease;
  -moz-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  -ms-transition: all 0.05s ease;
  transition: all 0.05s ease;
}
@media screen and (min-width: 600px) {
  #content .content .text .launch {
    padding: 10px 14px 10px 14px;
  }
}
#content .content .text .launch a {
  color: #fff;
  border-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}
#content .content .text .launch:hover {
  background-color: #fff;
  cursor: pointer;
}
#content .content .text .launch:hover a {
  color: #840003;
}
#content .content .text .video-link {
  margin: 0.2em 0 1em 0;
  padding: 0;
}
#content .content .text .video-link a {
  color: #808080;
  border: 0;
}
#content .content .text .video {
  position: relative;
  height: 100px;
  padding-bottom: 56.25%;
  /* 16:9 */

  margin: 2em 0 2em 0;
}
#content .content .text .video video,
#content .content .text .video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content .content .text .video .play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#content .content .text .video .play:after {
  display: block;
  content: '';
  background-image: url('../assets/play-black.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
  width: 128px;
  height: 128px;
  pointer-events: none;
}
#content .content .text .video .play:hover {
  cursor: pointer;
}
.no-js #content .content .text .video .play {
  display: none;
}
@media screen and (min-width: 1920px) {
  #content .content {
    padding: 1em 0 0 0;
  }
  #content .content h1 {
    width: 1400px;
    margin: 0.6em 0 0.7em -710px;
  }
  #content .content .text {
    width: 1400px;
    margin: 0 0 1em -700px;
  }
  #content .content .text .launch {
    padding: 20px;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
  }
  #content .content .text .video-link {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1024px) {
  #content .content {
    padding: 1em 0 0 0;
  }
  #content .content h1 {
    width: 90%;
    margin: 0.6em 0 0.6em -45%;
  }
  #content .content .text {
    width: 90%;
    margin: 0 0 1em -45%;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  #content .content .text .video .play:after {
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
  }
}
#about {
  overflow-x: hidden;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  color: #aaa;
}
.js #about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
  max-width: 500px;
  pointer-events: none;
}
.js #about div {
  display: none;
}
.no-js #about {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .no-js #about {
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
}
#about .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 34px;
  height: 34px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
  border: 0;
}
.no-touch #about .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#about div {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 20px 10px 30px 10px;
  pointer-events: auto;
}
#about h3 {
  font-family: 'Droid Sans';
  font-size: 1.3em;
}
#about h4 {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  font-size: 1.5em;
  margin: 1.5em 0 1em 0;
  line-height: 1.35;
}
#about p {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin: 0.5em 0 0 0;
  line-height: 1.55;
}
#about p + p {
  margin: 0;
  text-indent: 1em;
}
#about .awards {
  margin: 1em 0 1em 1em;
}
#about .aw-num {
  color: #ff4d4d;
  font-size: 1.2em;
  line-height: 1;
}
#about b,
#about a {
  text-decoration: none;
  color: #ff4d4d;
}
#about a {
  border-bottom: 1px solid #ff4d4d;
}
.no-touch #about a:not(.close):hover {
  border-bottom: 1px solid #ff4d4d;
}
#about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.55;
}
#about ul li {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
}
#about ul i {
  display: block;
  margin-bottom: 0.3em;
}
@media screen and (min-width: 600px) {
  #about ul i {
    display: inline;
  }
  #about ul i:before {
    content: " - ";
  }
}
@media screen and (min-width: 600px) {
  #about div {
    padding: 30px 20px 20px 20px;
  }
  #about .close {
    width: 24px;
    height: 24px;
  }
}
.oversize {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#projects {
  padding: 0px 2px 0 2px;
  background-color: #fff;
}
section#projects ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section#projects ul.projects .title-box .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
  text-align: left;
}
section#projects ul.projects .title-box .container h1 {
  position: absolute;
  color: black;
  bottom: 0;
  right: 0;
  margin: 0 3% 3% 0;
  font-family: Oswald;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  section#projects ul.projects .title-box .container h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 600px) {
  section#projects ul.projects .title-box .container h1 {
    font-size: 3em;
  }
}
section#projects ul.projects .title-box .container .fwd-b {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
}
section#projects ul.projects .title-box .spacer {
  margin-top: 100%;
}
section#projects ul.projects li {
  float: left;
  margin: 0;
  border: 2px solid transparent;
  position: relative;
  width: 50%;
}
section#projects ul.projects li h4 {
  position: absolute;
  color: white;
  margin: 0 0 3% 3%;
  bottom: 0;
  left: 0;
  font-family: Oswald;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  section#projects ul.projects li h4 {
    font-size: 1em;
  }
}
@media screen and (min-width: 600px) {
  section#projects ul.projects li h4 {
    font-size: 1.5em;
  }
}
section#projects ul.projects li .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
section#projects ul.projects li .container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
section#projects ul.projects li .container .mask,
section#projects ul.projects li .container .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
section#projects ul.projects li .container .hover {
  -webkit-transform: translateY(150%) translateX(-15%) scaleX(2);
  -moz-transform: translateY(150%) translateX(-15%) scaleX(2);
  -o-transform: translateY(150%) translateX(-15%) scaleX(2);
  -ms-transform: translateY(150%) translateX(-15%) scaleX(2);
  transform: translateY(150%) translateX(-15%) scaleX(2);
}
.no-touch section#projects ul.projects li .hovered-transition .hover {
  -webkit-transition: -webkit-transform 0.8s ease-out;
  -moz-transition: -moz-transform 0.8s ease-out;
  -o-transition: -o-transform 0.8s ease-out;
  -ms-transition: -ms-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}
.no-touch section#projects ul.projects li .hovered-transition img {
  -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-out 0.1s;
  -o-transition: -o-transform 0.2s ease-out 0.1s;
  -ms-transition: -ms-transform 0.2s ease-out 0.1s;
  transition: transform 0.2s ease-out 0.1s;
}
.no-touch section#projects ul.projects li .hovered-transition h4 {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -ms-transition: -ms-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
.no-touch section#projects ul.projects li .hovered-container:hover .hover {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  -webkit-transform: translateY(80%) scaleX(2);
  -moz-transform: translateY(80%) scaleX(2);
  -o-transform: translateY(80%) scaleX(2);
  -ms-transform: translateY(80%) scaleX(2);
  transform: translateY(80%) scaleX(2);
}
.no-touch section#projects ul.projects li .hovered-container:hover img {
  -webkit-transform: translateY(-3%);
  -moz-transform: translateY(-3%);
  -o-transform: translateY(-3%);
  -ms-transform: translateY(-3%);
  transform: translateY(-3%);
}
.no-touch section#projects ul.projects li .hovered-container:hover h4 {
  -webkit-transform: translateY(-35%);
  -moz-transform: translateY(-35%);
  -o-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
}
section#projects ul.projects li .spacer {
  margin-top: 100%;
}
@media screen and (min-width: 500px) {
  
}
@media screen and (min-width: 600px) {
  section#projects {
    padding: 0px 4px 0 4px;
  }
}
@media screen and (min-width: 800px) {
  section#projects {
    padding: 0px 4px 0 4px;
  }
  section#projects ul.projects li {
    width: 33.33%;
  }
}
@media screen and (min-width: 1200px) {
  section#projects ul.projects li {
    width: 25%;
  }
}
@media screen and (min-width: 1600px) {
  section#projects ul.projects li {
    width: 20%;
  }
}
#blog {
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: #333;
}
#blog.inverted {
  background-color: #000;
  color: #bbb;
}
#blog.inverted code {
  background-color: #333;
}
#blog.inverted a:hover {
  color: #fff;
}
#blog article {
  position: relative;
  margin: 2em;
  font-size: 1.0em;
  line-height: 1.4em;
}
@media screen and (min-width: 800px) {
  #blog article {
    font-size: 1.1em;
    left: 50%;
    max-width: 700px;
    margin: 0 0 2em -350px;
  }
}
#blog h1 {
  font-family: Oswald;
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0.5em 0 0.3em 0;
}
@media screen and (min-width: 600px) {
  #blog h1 {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 600px) {
  #blog h1 {
    font-size: 3.6em;
  }
}
#blog h2 {
  font-family: 'Droid Sans';
}
#blog h3 {
  font-family: 'Droid Sans';
  line-height: 1.5em;
}
#blog h4 {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: bold;
}
#blog p,
#blog li {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
#blog p + p {
  margin-top: 0.8em;
}
#blog a {
  color: inherit;
  text-decoration: underline;
}
#blog a:hover {
  color: #808080;
}
#blog code {
  background-color: #ddd;
  border-radius: 2px;
  font-size: 0.8em;
  padding: 0.2em 0.4em 0.2em 0.4em;
}
#blog article > code {
  display: block;
  margin: 1em 0 1em 0;
  white-space: pre-line;
  padding: 1em;
}
@media screen and (min-width: 800px) {
  #blog article > code {
    padding: 1em;
  }
}
#blog ul {
  padding-left: 1em;
}
#blog ul li {
  margin-bottom: 0.25em;
}
#blog .demo {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #ddd;
  margin: 1em 0 0 0;
}
#blog .redbox {
  position: absolute;
  min-width: 50px;
  height: 50px;
  background-color: #f00;
  top: 25px;
  left: 25px;
  color: #fff;
  font-family: 'Droid Sans';
  text-align: center;
  padding: 0.85em 0.8em 0 0.8em;
}
#blog .input {
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin: 1em 0 1em 0;
}
#blog .input input {
  border: 0;
  margin: 0;
  padding: 0.5em;
  font-family: 'Fjord One', sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.02em;
  background-color: #f7e6ba;
  width: 10em;
}
#blog .buttons {
  list-style-type: none;
  padding: 0;
  overflow: auto;
  margin-bottom: 0.5em;
}
#blog .buttons li {
  float: left;
  font-family: 'Droid Sans';
  margin: 0 1em 0.1em 0;
  background-color: #444;
  color: #fff;
  padding: 0.3em 0.8em 0.3em 0.8em;
  border-radius: 6px;
  cursor: pointer;
}
#blog .buttons li:hover {
  background-color: #f00;
}
