@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #222222 0%, #222222 100%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}
#main.animated {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
}
#main a {
  color: inherit;
  text-decoration: none;
}
#main section#header > div:nth-of-type(1) {
  position: relative;
  background-color: #000000;
  width: 50%;
  max-width: 140px;
  height: 40px;
}
#main section#header > div:nth-of-type(1):after {
  content: '';
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}
#main section#header h2 {
  font-size: 2.1em;
  letter-spacing: -0.05em;
  font-weight: 600;
  margin: 0 0 0 0;
  padding: 20px 30px 0px 10px;
}
#main section#header h2 p {
  margin: 0 0 0 0;
  line-height: 1.2em;
  display: inline;
}
#main section#header h2 a {
  position: relative;
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #9b2222;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#main section#header h2 a:before {
  position: absolute;
  z-index: -1000;
  content: '';
  display: block;
  background-color: #9b2222;
  width: 106%;
  margin-left: -3%;
  height: 4px;
  margin-top: 40px;
  -webkit-transition: height 0.1s ease, margin-top 0.1s ease;
  -moz-transition: height 0.1s ease, margin-top 0.1s ease;
  -o-transition: height 0.1s ease, margin-top 0.1s ease;
  -ms-transition: height 0.1s ease, margin-top 0.1s ease;
  transition: height 0.1s ease, margin-top 0.1s ease;
}
.no-touch #main section#header h2 a:hover {
  color: #fff;
  cursor: pointer;
}
.no-touch #main section#header h2 a:hover:before {
  height: 38px;
  margin-top: 2px;
}
.touch #main section#header h2 a:active {
  color: #fff;
  cursor: pointer;
}
.touch #main section#header h2 a:active:before {
  height: 38px;
  margin-top: 2px;
}
@media screen and (min-width: 600px) {
  #main section#header h2 {
    font-size: 2.4em;
  }
  #main section#header h2 a:before {
    margin-top: 44px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 42px;
    margin-top: 2px;
  }
  .touch #main section#header h2 a:active:before {
    height: 42px;
    margin-top: 2px;
  }
}
@media screen and (min-width: 1100px) {
  #main section#header h2 {
    font-size: 2.9em;
  }
  #main section#header h2 p {
    display: block;
  }
  #main section#header h2 a:before {
    height: 5px;
    margin-top: 52px;
  }
  .no-touch #main section#header h2 a:hover:before {
    height: 48px;
    margin-top: 4px;
  }
  .touch #main section#header h2 a:active:before {
    height: 48px;
    margin-top: 4px;
  }
}
@media screen and (min-width: 1460px) {
  #main section#header h2 {
    font-size: 3.9em;
  }
}
@media screen and (min-width: 1800px) {
  #main section#header h2 {
    font-size: 5.2em;
  }
}
section#projects h3,
section#play h3 {
  margin-top: 20px;
  font-weight: bold;
  padding: 20px 10px 0 13px;
}
@media screen and (min-width: 600px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1100px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1460px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1800px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.8em;
  }
}
#content {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
}
#content * {
  pointer-events: auto;
}
#content .close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0px;
  width: 32px;
  height: 32px;
  display: none;
  z-index: 1000;
}
#content h2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  margin: 16px 0 0 16px;
}
#content .hero iframe {
  width: 100%;
  poiter-events: none;
}
#content .hero img {
  position: relative;
  top: 0;
  left: 0;
}
#content .hero div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  -webkit-transition: background-color 1.5s ease;
  -moz-transition: background-color 1.5s ease;
  -o-transition: background-color 1.5s ease;
  -ms-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}
@media screen and (max-width: 600px) {
  #content .close {
    top: 4px;
    right: 4px;
    background-color: none;
  }
  #content h2 {
    padding: 7px;
    margin: 0 0 0 0;
    width: 100%;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
#content .content {
  position: relative;
  top: -4px;
  background-color: #222222;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #aaaaaa;
  font-size: 1.0em;
  line-height: 1.7em;
  letter-spacing: 0;
  padding: 2em 0 2em 0;
  margin: 0;
}
#content .content .text {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0 0 1em -400px;
  padding: 0;
}
#content .content .text h4 {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.08em;
}
#content .content .text h5 {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.08em;
  margin: 4px 0 4px 0;
}
#content .content .text h6 {
  font-weight: 400;
  font-size: 0.75em;
}
#content .content .text em {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
#content .content .text a {
  color: #ffffff;
  text-decoration: underline;
}
#content .content .text .video-link {
  margin: 0;
  padding: 0;
}
#content .content .text .video-link a {
  color: #808080;
  border: 0;
  font-size: 0.8em;
}
#content .content .text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content .content .text ul li {
  font-size: 0.8em;
  line-height: 1.6em;
}
#content .content .text ul i {
  color: #aaaaaa;
}
#content .content .text ul i:before {
  content: " - ";
}
#content .content .text .video {
  position: relative;
  height: 100px;
  padding-bottom: 56.25%;
  /* 16:9 */

}
#content .content .text .video iframe,
#content .content .text .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  #content .content {
    line-height: 1.5em;
    padding: 1em 0 0 0;
  }
  #content .content .text {
    width: 90%;
    margin: 0 0 1em -45%;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
}
#about {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  color: #808080;
  font-size: 1.0em;
  line-height: 1.5em;
}
#about section {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}
#about div {
  opacity: 0;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 20px 40px 30px 30px;
  color: #ffffff;
}
#about div.animated {
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#about h2 {
  margin: 0;
}
#about .close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px;
  width: 32px;
  height: 32px;
}
#about p {
  letter-spacing: -0.05em;
  color: #aaaaaa;
}
#about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#about ul li {
  font-size: 0.8em;
  line-height: 1.6em;
}
#about ul i {
  color: #aaaaaa;
}
#about ul i:before {
  content: " - ";
}
@media screen and (max-width: 600px) {
  #about div {
    padding: 20px 20px 20px 20px;
  }
  #about .close {
    right: 20px;
  }
}
section#projects ul.projects {
  list-style-type: none;
  margin: 0 5px 0 5px;
  padding: 0;
  overflow: auto;
}
section#projects ul.projects li {
  float: left;
  margin: 0;
  border: 4px solid #ffffff;
  position: relative;
  width: 50%;
  overflow: hidden;
}
section#projects ul.projects li h4 {
  position: absolute;
  font-size: 1.0em;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 1.0em;
  top: 0;
  left: 0;
}
section#projects ul.projects li div:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dddddd;
}
section#projects ul.projects li div:nth-of-type(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#projects ul.projects li div:nth-of-type(1) div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.no-touch section#projects ul.projects li div:nth-of-type(1) div {
  -webkit-transition: background-color 1.5s ease;
  -moz-transition: background-color 1.5s ease;
  -o-transition: background-color 1.5s ease;
  -ms-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}
section#projects ul.projects li div:nth-of-type(2) {
  margin-top: 100%;
}
@media screen and (min-width: 600px) {
  section#projects ul.projects li {
    width: 50%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1100px) {
  section#projects ul.projects li {
    width: 33.33%;
  }
  section#projects ul.projects li h4 {
    padding: 10px;
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1460px) {
  section#projects ul.projects li {
    width: 25%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1800px) {
  section#projects ul.projects li {
    width: 20%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.6em;
  }
}
section#play ul.play {
  list-style-type: none;
  margin: 0 5px 0 5px;
  padding: 0 0 0 0;
  overflow: auto;
}
section#play ul.play li {
  float: left;
  margin: 0;
  border: 4px solid #ffffff;
  position: relative;
  width: 50%;
}
section#play ul.play li h4 {
  position: absolute;
  font-size: 1.0em;
  color: #ffffff;
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 1.0em;
  top: 0;
  left: 0;
}
section#play ul.play li div:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dddddd;
}
section#play ul.play li div:nth-of-type(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#play ul.play li div:nth-of-type(1) div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.no-touch section#play ul.play li div:nth-of-type(1) div {
  -webkit-transition: background-color 1.5s ease;
  -moz-transition: background-color 1.5s ease;
  -o-transition: background-color 1.5s ease;
  -ms-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
}
section#play ul.play li div:nth-of-type(2) {
  margin-top: 100%;
}
@media screen and (min-width: 600px) {
  section#play ul.play li {
    width: 33.33%;
  }
}
@media screen and (min-width: 1100px) {
  section#play ul.play li {
    width: 25%;
  }
}
@media screen and (min-width: 1460px) {
  section#play ul.play li {
    width: 20%;
  }
}
@media screen and (min-width: 1800px) {
  section#play ul.play li {
    width: 16.66%;
  }
}
