@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222222;
  font-size: 16px;
}
html.js body {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
p {
  font-weight: 100;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
}
#main {
  width: 100%;
  background-color: #fff;
  overflow-y: hidden;
}
.js #main {
  position: absolute;
  overflow-x: hidden;
}
#main a {
  color: inherit;
  text-decoration: none;
}
#main h2.header {
  width: 100%;
  margin: 0;
  padding: 120px 20px 120px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 2.4em;
  letter-spacing: -0.02em;
  font-weight: 100;
  line-height: 1.1em;
  text-align: center;
  color: black;
}
#main h2.header p {
  margin: 0;
  color: #808080;
}
#main h2.header a {
  display: inline-block;
  line-height: 0.9em;
  padding: 0px 5px 0px 0px;
  border-bottom: 1px solid #808080;
  -webkit-transition: border 0.1s ease, color 0.1s ease;
  -moz-transition: border 0.1s ease, color 0.1s ease;
  -o-transition: border 0.1s ease, color 0.1s ease;
  -ms-transition: border 0.1s ease, color 0.1s ease;
  transition: border 0.1s ease, color 0.1s ease;
}
.no-touch #main h2.header a:hover {
  color: black;
  border-bottom: 4px solid black;
}
@media screen and (min-width: 600px) {
  #main h2.header {
    padding: 250px 20px 250px 20px;
    font-size: 3em;
  }
  #main h2.header a {
    border-bottom: 2px solid #808080;
  }
}
@media screen and (min-width: 1100px) {
  #main h2.header {
    font-size: 4em;
  }
}
@media screen and (min-width: 1460px) {
  #main h2.header {
    font-size: 5em;
  }
}
@media screen and (min-width: 1800px) {
  
}
section#projects h3,
section#play h3 {
  margin-top: 20px;
  font-weight: bold;
  padding: 20px 10px 0 13px;
}
@media screen and (min-width: 600px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1100px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1460px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1800px) {
  section#projects h3,
  section#play h3 {
    font-size: 1.8em;
  }
}
#content {
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
.js #content {
  overflow-y: hidden;
}
#content * {
  pointer-events: auto;
}
#content .close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 34px;
  height: 34px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
#content .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#content .hero {
  background-color: #000000;
}
.no-js #content .hero img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1920px) {
  #content h2 {
    font-size: 3.5em;
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  #content .close {
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
  }
  #content h2 {
    padding: 4px;
    margin: 4px 0 0 4px;
    font-size: 1.0em;
  }
}
#content .content {
  background-color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  color: #aaaaaa;
  font-size: 1.0em;
  line-height: 1.7em;
  letter-spacing: 0;
  padding: 2em 0 2em 0;
  margin: 0;
}
.js #content .content {
  position: absolute;
  top: 0;
}
#content .content h1 {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0.5em 0 0.8em -400px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
}
#content .content .text {
  position: relative;
  width: 800px;
  left: 50%;
  margin: 0 0 1em -400px;
  padding: 0 0 40px 0;
}
@media screen and (min-width: 600px) {
  #content .content .text {
    padding: 0 0 20px 0;
  }
}
#content .content .text .warning {
  background-color: #7c0000;
  color: white;
  font-size: 0.9em;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
}
.webgl #content .content .text .webgl {
  display: none;
}
.canvas #content .content .text .canvas {
  display: none;
}
.webrct #content .content .text .webrct {
  display: none;
}
#content .content .text h4 {
  font-size: 1.2em;
  line-height: 1.6em;
}
#content .content .text h5 {
  margin: 4px 0 4px 0;
  color: #fff;
}
#content .content .text h6 {
  font-size: 0.75em;
  color: #fff;
}
#content .content .text p {
  font-size: 1em;
  line-height: 1.6em;
}
#content .content .text em {
  font-style: normal;
  color: #fff;
}
#content .content .text ul {
  list-style-type: none;
  padding: 0;
}
#content .content .text ul li {
  font-size: 0.9em;
  line-height: 2em;
}
#content .content .text ul b {
  color: #fff;
}
#content .content .text ul i:before {
  content: " - ";
}
#content .content .text a {
  color: inherit;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
}
#content .content .text a:hover {
  color: #fff;
}
#content .content .text .launch {
  background-color: #840003;
  color: #ffffff;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all 0.05s ease;
  -moz-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  -ms-transition: all 0.05s ease;
  transition: all 0.05s ease;
}
@media screen and (min-width: 600px) {
  #content .content .text .launch {
    padding: 3px 7px 5px 7px;
  }
}
#content .content .text .launch a {
  color: #fff;
  font-size: 0.8em;
  border-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}
#content .content .text .launch:hover {
  background-color: #fff;
  cursor: pointer;
}
#content .content .text .launch:hover a {
  color: #840003;
}
#content .content .text .video-link {
  margin: 0;
  padding: 0;
}
#content .content .text .video-link a {
  color: #808080;
  border: 0;
  font-size: 0.8em;
}
#content .content .text .video {
  position: relative;
  height: 100px;
  padding-bottom: 56.25%;
  /* 16:9 */

}
#content .content .text .video video,
#content .content .text .video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content .content .text .video .play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#content .content .text .video .play:after {
  display: block;
  content: '';
  background-image: url('../assets/play-black.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
  width: 128px;
  height: 128px;
  pointer-events: none;
}
#content .content .text .video .play:hover {
  cursor: pointer;
}
.no-js #content .content .text .video .play {
  display: none;
}
@media screen and (min-width: 1920px) {
  #content .content {
    line-height: 1.5em;
    padding: 1em 0 0 0;
  }
  #content .content .text {
    width: 1600px;
    margin: 0 0 1em -800px;
  }
  #content .content .text h4 {
    font-size: 2.4em;
    line-height: 1.7em;
    font-weight: normal;
  }
  #content .content .text p {
    font-size: 1.6em;
    line-height: 1.7em;
  }
  #content .content .text .launch {
    font-size: 2em;
    padding: 20px;
  }
  #content .content .text h5 {
    font-size: 1.3em;
  }
  #content .content .text ul li {
    font-size: 1.3em;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
    margin: 90px 0 0px 0;
  }
  #content .content .text .video-link {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1024px) {
  #content .content {
    line-height: 1.5em;
    padding: 1em 0 0 0;
  }
  #content .content h1 {
    width: 90%;
    margin: 0 0 1em -45%;
    font-size: 2.3em;
  }
  #content .content .text {
    width: 90%;
    margin: 0 0 1em -45%;
  }
  #content .content .text .video {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #content .content .text .video .play:after {
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
  }
}
#about {
  overflow-x: hidden;
  font-size: 1.0em;
  line-height: 1.5em;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}
.js #about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
  max-width: 500px;
  pointer-events: none;
}
.no-js #about {
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -400px;
}
#about div {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 20px 10px 30px 10px;
  pointer-events: auto;
  display: none;
  color: #aaa;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.02em;
}
#about h2 {
  margin: 0 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  display: inline-block;
}
#about h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
}
#about h4 {
  font-size: 1.1em;
}
#about .close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url('../assets/buttons.png');
  background-size: 200% 200%;
  background-position: 0 100%;
  border: 0;
}
#about .close:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#about p {
  font-size: 0.9em;
}
#about b,
#about a {
  text-decoration: none;
  color: #fff;
}
#about a {
  border-bottom: 1px solid white;
}
#about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#about ul li {
  font-size: 0.9em;
  line-height: 2em;
}
#about ul i:before {
  content: " - ";
}
@media screen and (min-width: 600px) {
  #about div {
    padding: 30px 20px 20px 20px;
    font-weight: normal;
  }
  #about a {
    border-bottom: 1px solid white;
  }
  #about .close {
    width: 30px;
    height: 30px;
  }
}
.oversize {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#projects {
  padding: 0px 2px 0 2px;
  background-color: #fff;
}
section#projects ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.touch section#projects ul.projects {
  clear: both;
  overflow: auto;
}
section#projects ul.projects .title-box .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
  text-align: left;
}
section#projects ul.projects .title-box .container h1 {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-transform: uppercase;
  bottom: 0%;
  right: 0%;
  margin: 0 15px 5px 15px;
  font-size: 2.2em;
  font-weight: 100;
}
section#projects ul.projects .title-box .container .fwd-b {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
}
section#projects ul.projects .title-box .spacer {
  margin-top: 100%;
}
section#projects ul.projects li {
  float: left;
  margin: 0;
  border: 2px solid transparent;
  position: relative;
  width: 50%;
}
section#projects ul.projects li h4 {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1.0em;
  color: white;
  margin: 0 0 5px 5px;
  padding: 2px;
  bottom: 0;
  left: 0;
  font-weight: 400;
}
section#projects ul.projects li .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
section#projects ul.projects li .container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
section#projects ul.projects li .container .mask,
section#projects ul.projects li .container .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
section#projects ul.projects li .container .hover {
  -webkit-transform: translateY(150%) translateX(-15%) scaleX(2);
  -moz-transform: translateY(150%) translateX(-15%) scaleX(2);
  -o-transform: translateY(150%) translateX(-15%) scaleX(2);
  -ms-transform: translateY(150%) translateX(-15%) scaleX(2);
  transform: translateY(150%) translateX(-15%) scaleX(2);
}
section#projects ul.projects li .hovered-transition .hover {
  -webkit-transition: -webkit-transform 0.8s ease-out;
  -moz-transition: -moz-transform 0.8s ease-out;
  -o-transition: -o-transform 0.8s ease-out;
  -ms-transition: -ms-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}
section#projects ul.projects li .hovered-transition img {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
section#projects ul.projects li .hovered-transition h4 {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
section#projects ul.projects li .hovered-container:hover .hover {
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -moz-transform 0.1s ease-out;
  -o-transition: -o-transform 0.1s ease-out;
  -ms-transition: -ms-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  -webkit-transform: translateY(80%) scaleX(2);
  -moz-transform: translateY(80%) scaleX(2);
  -o-transform: translateY(80%) scaleX(2);
  -ms-transform: translateY(80%) scaleX(2);
  transform: translateY(80%) scaleX(2);
}
section#projects ul.projects li .hovered-container:hover img {
  -webkit-transform: translateY(-2%);
  -moz-transform: translateY(-2%);
  -o-transform: translateY(-2%);
  -ms-transform: translateY(-2%);
  transform: translateY(-2%);
}
section#projects ul.projects li .hovered-container:hover h4 {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}
section#projects ul.projects li .spacer {
  margin-top: 100%;
}
@media screen and (min-width: 600px) {
  section#projects {
    padding: 0px 4px 0 4px;
  }
  section#projects ul.projects li h4 {
    font-size: 0.9em;
    padding: 5px;
    margin: 0px 0px 10px 10px;
    font-weight: 100;
  }
}
@media screen and (min-width: 800px) {
  section#projects {
    padding: 0px 4px 0 4px;
  }
  section#projects ul.projects li {
    width: 33.33%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  section#projects ul.projects li {
    width: 25%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1600px) {
  section#projects ul.projects li {
    width: 20%;
  }
  section#projects ul.projects li h4 {
    font-size: 1.4em;
  }
}
