@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import url('normalize.css');

body {
	font-family: sans-serif;
	font-size: 100%;
	font-weight: normal;
	margin: 10px;
	padding: 0;
}

section {
	max-width: 1000px;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
	margin: 10px 0 0 0;
	line-height: 1.3em;
}

h1 {
	font-size: 1.5em;

}

h2 {
	font-size: 1.2em;
}

p {
	margin-top: 10px;
}

h6 {
	font-style: italic;
	font-size: 0.9em;
}

a {
	color: #000000;
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		margin-top: 10px;
	}
}