@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

// Main

*, *:link {
	-webkit-tap-highlight-color: rgba(0.5, 0.5, 0.5, 0.5);
}

body {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	margin: 0;
	border: 0;
	padding: 0;
}

h1, h2, h3, p {
	margin: 0px;
	font-weight: normal;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4.5em;
	line-height: 1em;
	-webkit-margin-before: 0;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	letter-spacing: -2px;
	line-height: 1.2em;
	padding: 10px;

	a {
		padding: 4px;
		color: #0b4454;
		text-decoration: underline;
		white-space: nowrap;
	}
}

// List

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		padding: 30px 0px 30px 10px;
		border-bottom: #ddd 1px dashed;

		h1 {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 2.2em;
			letter-spacing: -1px;
			font-weight: normal;
			margin-bottom: 6px;
		}

		h3, p {
			font-size: 0.9em;
			font-family: 'Droid Serif', serif;
			letter-spacing: -0.8px;
			line-height: 1.2em;
			display: block;
			padding: 2px;
		}

		a {
			color: inherit;
		}
	}

	.fwa-sotd {
		color: #000000;
		background-color: #ffd200;
		padding: 2px;
	}

	.fwa-motd {
		color: #ffffff;
		background-color: #1e5fa1;
		padding: 2px;
	}

	.fwa-sotm {
		color: #ffffff;
		background-color: #b00000;
		padding: 2px;
	}

	.fwa-pca {
		background-color: #ffffff;
		color: #327695;
		padding: 2px;
	}

	.project-z {
		background-color: #000;
		color: #fff;
	}

	.project-a {
		background-color: #555555;
		color: #ffd000;
	}

	.project-b {
		background-color: #444444;
		color: #aaaaaa;
	}

	.project-c {
		background-color: #2b65a3;
		color: #fff;
	}

	.project-d {
		background-color: #dddddd;
		color: #000000;
	}

	.project-e {
		background-color: #ffffff;
		color: #7d511f;
	}
}