@import url("normalize.css");
body {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

.wireframe section {
  text-align: center; }
.wireframe #header {
  height: 50em;
  background-color: #ffcc00; }
.wireframe #work ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .wireframe #work ul li {
    width: 100%;
    height: 40em; }
  .wireframe #work ul li:nth-child(odd) {
    background-color: #0066cc; }
  .wireframe #work ul li:nth-child(even) {
    background-color: #0080ff; }
.wireframe #about {
  height: 40em;
  background-color: #008000; }
.wireframe #doodles ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .wireframe #doodles ul li {
    float: left;
    width: 50%;
    height: 12em; }
  .wireframe #doodles ul li:nth-child(4n) {
    background-color: #663300; }
  .wireframe #doodles ul li:nth-child(4n+1) {
    background-color: #994c00; }
  .wireframe #doodles ul li:nth-child(4n+2) {
    background-color: #cc6600; }
  .wireframe #doodles ul li:nth-child(4n+3) {
    background-color: #ff8000; }
.wireframe #blog {
  clear: both; }
  .wireframe #blog article {
    width: 100%;
    height: 30em; }
  .wireframe #blog article:nth-child(1) {
    background-color: #cc0000; }
  .wireframe #blog article:nth-child(2) {
    background-color: #ff0000; }
  .wireframe #blog article:nth-child(3) {
    background-color: #990000; }
.wireframe #links {
  background-color: #000000;
  color: #ffffff;
  height: 4em; }
@media screen and (min-width: 769px) {
  .wireframe #work {
    width: 70%;
    float: left; }
  .wireframe #about {
    width: 30%;
    float: right; }
  .wireframe #doodles {
    clear: both; }
    .wireframe #doodles ul li {
      width: 33.33%; }
  .wireframe #blog article {
    width: 33.33%;
    float: left; }
  .wireframe #links {
    clear: both; } }
@media screen and (min-width: 1201px) {
  .wireframe #work {
    width: 55%;
    float: left; }
  .wireframe #about {
    width: 22.5%;
    float: left; }
  .wireframe #doodles {
    width: 22.5%;
    float: left;
    clear: none; }
    .wireframe #doodles ul li {
      width: 100%; }
  .wireframe #blog {
    clear: both; } }
@media screen and (min-width: 1651px) {
  .wireframe #work {
    width: 40%;
    float: left; }
  .wireframe #about {
    width: 20%;
    float: left; }
  .wireframe #doodles {
    width: 20%;
    float: left; }
  .wireframe #blog {
    width: 20%;
    float: left;
    clear: none; }
    .wireframe #blog article {
      width: 100%;
      float: none; }
  .wireframe #links {
    clear: both; } }
