body {
  background-color: #dddddd;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 0.8em;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 1em;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
ul.class-list {
  background-color: rgba(0, 0, 0, 0.25);
  list-style-type: none;
  overflow: auto;
  padding: 10px;
  margin: 0;
}
@media screen and (min-width: 1140px) {
  ul.class-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
  }
}
ul.class-list li {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  float: left;
}
@media screen and (min-width: 1140px) {
  ul.class-list li {
    float: none;
  }
}
ul.class-list li:hover {
  background-color: #ff8000;
}
ul.class-list li:hover a {
  text-decoration: underline;
}
ul.class-list li a {
  text-decoration: none;
}
h1 {
  font-size: 2em;
  margin-left: 0px;
}
h1 a {
  font-size: 0.4em;
  text-decoration: none;
  font-weight: normal;
  background-color: #c1d0d5;
  padding: 4px;
  border-radius: 3px;
  position: relative;
  top: -5px;
  display: inline-block;
}
h2 {
  font-size: 1.4em;
  margin-left: 10px;
}
@media screen and (min-width: 600px) {
  h2 {
    margin-left: 40px;
  }
}
p,
em,
blockquote {
  line-height: 1.6em;
  margin-left: 20px;
}
@media screen and (min-width: 600px) {
  p,
  em,
  blockquote {
    margin-left: 80px;
  }
}
code {
  font-size: 1.2em;
}
blockquote {
  margin-right: 10px;
  padding: 5px;
  background-color: #f8ec85;
  border-radius: 4px;
  font-size: 1.2em;
  font-family: monospace;
  white-space: pre-line;
}
@media screen and (min-width: 600px) {
  blockquote {
    white-space: pre;
  }
}
p code {
  background-color: #f8ec85;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
a {
  color: inherit;
}
.red {
  background-color: #ffcece;
}
.blue {
  background-color: #5fd4e5;
}
em {
  padding: 10px;
  border-radius: 4px;
  display: block;
  overflow: auto;
  margin-right: 10px;
}
em ul {
  list-style-type: none;
  padding: 0;
}
em ul li {
  float: left;
}
em ul li:not(:last-child):after {
  content: ',';
  margin-right: 10px;
}
em ul li a {
  font-family: monospace;
  font-style: normal;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
em ul li a:hover {
  text-decoration: underline;
}
h2 i {
  font-weight: normal;
}
section {
  padding: 10px;
}
@media screen and (min-width: 600px) {
  section {
    padding: 20px;
  }
}
#main {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
@media screen and (min-width: 960px) {
  #main {
    left: 50%;
    margin-left: -480px;
    width: 960px;
  }
}
@media screen and (min-width: 1140px) {
  #main {
    left: 180px;
    margin-left: 0;
    width: 960px;
  }
}
